In [1]:
pip list

Package                       Version
----------------------------- -----------
absl-py                       2.3.0
aiohappyeyeballs              2.4.4
aiohttp                       3.11.10
aiosignal                     1.2.0
altair                        5.5.0
anaconda-anon-usage           0.7.1
anaconda-auth                 0.8.6
anaconda-catalogs             0.2.0
anaconda-cli-base             0.5.2
anaconda-client               1.13.0
anaconda-navigator            2.6.6
anaconda-project              0.11.1
annotated-types               0.6.0
antlr4-python3-runtime        4.9.3
anyio                         4.7.0
archspec                      0.2.3
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
asttokens                     3.0.0
astunparse                    1.6.3
async-lru                     2.0.4
attrs                         23.2.0
babel                         2.16.0
backports.functools-lru-cache 1.6.4
backports.tarfile             0.0.0
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        4.3.0
beautifulsoup4                4.12.3
bleach                        6.2.0
blinker                       1.9.0
boltons                       24.1.0
Bottleneck                    1.4.2
Brotli                        1.0.9
cachetools                    5.5.2
certifi                       2025.4.26
cffi                          1.17.1
chardet                       4.0.0
charset-normalizer            3.3.2
click                         8.1.8
cloudpickle                   3.1.1
clyent                        1.2.2
colorama                      0.4.6
comm                          0.2.1
conda                         25.5.1
conda-build                   25.5.0
conda-content-trust           0.2.0
conda_index                   0.6.1
conda-libmamba-solver         25.4.0
conda-pack                    0.7.1
conda-package-handling        2.4.0
conda_package_streaming       0.11.0
conda-repo-cli                1.0.165
conda-token                   0.6.0
conda-verify                  3.4.2
contourpy                     1.3.2
cramjam                       2.9.1
cryptography                  45.0.3
cycler                        0.12.1
debugpy                       1.8.11
decorator                     5.1.1
defusedxml                    0.7.1
distro                        1.9.0
einops                        0.7.0
entrypoints                   0.4
evalidate                     2.0.3
executing                     0.8.3
Faker                         26.0.0
fastjsonschema                2.20.0
filelock                      3.17.0
flatbuffers                   25.2.10
fonttools                     4.58.0
frozendict                    2.4.2
frozenlist                    1.5.0
fsspec                        2025.3.2
future                        1.0.0
gast                          0.6.0
gitdb                         4.0.12
GitPython                     3.1.44
google-pasta                  0.2.0
grpcio                        1.71.0
h11                           0.16.0
h5py                          3.13.0
httpcore                      1.0.9
httpx                         0.28.1
hyperopt                      0.2.7
idna                          3.7
imbalanced-learn              0.13.0
importlib_metadata            8.5.0
intake                        2.0.7
ipykernel                     6.29.5
ipython                       9.1.0
ipython-genutils              0.2.0
ipython_pygments_lexers       1.1.1
ipywidgets                    8.1.7
jaraco.classes                3.2.1
jaraco.context                0.0.0
jaraco.functools              4.1.0
jedi                          0.19.2
Jinja2                        3.1.6
joblib                        1.5.0
json5                         0.9.25
jsonpatch                     1.33
jsonpointer                   2.1
jsonschema                    4.23.0
jsonschema-specifications     2023.7.1
jupyter_client                8.6.3
jupyter_core                  5.7.2
jupyter-events                0.12.0
jupyter-lsp                   2.2.5
jupyter_server                2.15.0
jupyter_server_terminals      0.5.3
jupyterlab                    4.3.4
jupyterlab_pygments           0.3.0
jupyterlab_server             2.27.3
jupyterlab_widgets            3.0.15
jupytext                      1.19.1
keras                         3.10.0
keyring                       25.6.0
kiwisolver                    1.4.8
lazy-object-proxy             1.10.0
libarchive-c                  5.1
libclang                      18.1.1
libmambapy                    2.0.5
lief                          0.16.4
lightgbm                      4.6.0
lightning                     2.5.2
lightning-utilities           0.14.3
lxml                          5.3.0
Markdown                      3.8
markdown-it-py                2.2.0
MarkupSafe                    3.0.2
matplotlib                    3.10.3
matplotlib-inline             0.1.6
mdit-py-plugins               0.5.0
mdurl                         0.1.0
menuinst                      2.2.0
missingno                     0.5.2
mistune                       3.1.2
mkl_fft                       1.3.11
mkl_random                    1.2.8
mkl-service                   2.4.0
ml_dtypes                     0.5.1
more-itertools                10.3.0
mpmath                        1.3.0
msgpack                       1.0.7
multidict                     6.1.0
munkres                       1.1.4
namex                         0.1.0
narwhals                      1.41.0
navigator-updater             0.5.1
nbclient                      0.10.2
nbconvert                     7.16.6
nbformat                      5.10.4
nest-asyncio                  1.6.0
networkx                      3.4.2
notebook                      7.3.2
notebook_shim                 0.2.4
numexpr                       2.10.1
numpy                         2.3.5
omegaconf                     2.3.0
opt_einsum                    3.4.0
optree                        0.16.0
outcome                       1.3.0.post0
overrides                     7.4.0
packaging                     24.2
pandas                        None
pandocfilters                 1.5.0
paramiko                      3.5.0
parso                         0.8.4
pathlib                       1.0.1
pillow                        11.1.0
pip                           25.1
pkce                          1.0.3
pkginfo                       1.12.0
platformdirs                  4.3.7
pluggy                        1.5.0
ply                           3.11
pooch                         1.9.0
prometheus_client             0.21.1
prompt-toolkit                3.0.43
propcache                     0.3.1
protobuf                      5.28.3
psutil                        5.9.0
pure-eval                     0.2.2
py4j                          0.10.9.7
pyarrow                       20.0.0
pycosat                       0.6.6
pycparser                     2.21
pydantic                      2.10.3
pydantic_core                 2.27.1
pydantic-settings             2.6.1
pydeck                        0.9.1
Pygments                      2.19.1
PyJWT                         2.10.1
PyNaCl                        1.5.0
pyparsing                     3.2.3
PyQt5                         5.15.10
PyQt5_sip                     12.13.0
PyQtWebEngine                 5.15.6
PySocks                       1.7.1
python-dateutil               2.9.0.post0
python-dotenv                 1.1.0
python-json-logger            3.2.1
python-snappy                 0.7.3
pytorch-lightning             2.0.7
pytorch-tabnet                4.1.0
pytorch-tabular               1.1.1
pytz                          2024.1
pywin32                       308
pywin32-ctypes                0.2.2
pywinpty                      2.0.15
PyYAML                        6.0.2
pyzmq                         26.2.0
QtPy                          2.4.1
readchar                      4.0.5
referencing                   0.30.2
requests                      2.32.3
requests-toolbelt             1.0.0
rfc3339-validator             0.1.4
rfc3986-validator             0.1.1
rich                          13.9.4
rpds-py                       0.22.3
ruamel.yaml                   0.18.10
ruamel.yaml.clib              0.2.12
ruamel-yaml-conda             0.17.21
schedule                      1.2.2
scikeras                      0.13.0
scikit-learn                  1.6.1
scipy                         1.15.3
seaborn                       0.13.2
selenium                      4.23.1
semver                        3.0.2
Send2Trash                    1.8.2
setuptools                    78.1.1
shellingham                   1.5.0
sip                           6.7.12
six                           1.17.0
sklearn-compat                0.1.3
smmap                         5.0.2
sniffio                       1.3.0
sortedcontainers              2.4.0
soupsieve                     2.5
stack-data                    0.2.0
streamlit                     1.45.1
streamlit-autorefresh         1.0.1
sympy                         1.13.1
tabulate                      0.9.0
tenacity                      9.0.0
tensorboard                   2.19.0
tensorboard-data-server       0.7.2
tensorflow                    2.19.0
tensorflow-io-gcs-filesystem  0.31.0
termcolor                     3.1.0
terminado                     0.17.1
threadpoolctl                 3.6.0
tinycss2                      1.4.0
toml                          0.10.2
tomli                         2.0.1
torch                         2.5.1
torchaudio                    2.5.1
torchmetrics                  1.5.2
torchvision                   0.20.1
tornado                       6.5.1
tqdm                          4.67.1
traitlets                     5.14.3
trio                          0.26.0
trio-websocket                0.11.1
truststore                    0.10.0
typer                         0.9.0
typing_extensions             4.12.2
tzdata                        2025.2
ujson                         5.10.0
urllib3                       2.3.0
watchdog                      6.0.0
wcwidth                       0.2.5
webdriver-manager             4.0.2
webencodings                  0.5.1
websocket-client              1.8.0
Werkzeug                      3.1.3
wheel                         0.45.1
widgetsnbextension            4.0.14
win-inet-pton                 1.1.0
wrapt                         1.17.2
wsproto                       1.2.0
xgboost                       3.0.1
yarl                          1.18.0
zipp                          3.21.0
zstandard                     0.23.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
pd.__version__

'2.3.3'

In [5]:
import numpy as np
arr = np.arange(100, 105)
arr

array([100, 101, 102, 103, 104])

In [6]:
s = pd.Series(arr)
s

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [7]:
s = pd.Series(arr, dtype='int32')
s

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [8]:
s = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [9]:
s = pd.Series([91, 2.5, '스포츠', 4, 5.16])
s

0      91
1     2.5
2     스포츠
3       4
4    5.16
dtype: object

In [10]:
s = pd.Series(['부장', '차장', '대리', '사원', '인턴'])
s

0    부장
1    차장
2    대리
3    사원
4    인턴
dtype: object

In [11]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s[0]

'부장'

In [13]:
s[[1, 3]]

1    차장
3    사원
dtype: object

In [14]:
s[1:3]

1    차장
2    대리
dtype: object

In [15]:
s[np.arange(1, 4, 2)]

1    차장
3    사원
dtype: object

In [16]:
np.random.seed(0)
s = pd.Series(np.random.randint(10000, 20000, size=(10,)))
s

0    12732
1    19845
2    13264
3    14859
4    19225
5    17891
6    14373
7    15874
8    16744
9    13468
dtype: int32

In [18]:
rng = np.random.default_rng(0)
rng.integers(10000,20001,10)

array([18507, 16370, 15111, 12698, 13078, 10409, 10752, 10165, 11752,
       18133])

In [20]:
rng = np.random.default_rng(0)
s =pd.Series(rng.integers(10000,20001,10))
s

0    18507
1    16370
2    15111
3    12698
4    13078
5    10409
6    10752
7    10165
8    11752
9    18133
dtype: int64

In [21]:
s > 15000

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [22]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a', 'b', 'c', 'd', 'e'])
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [23]:
s['d']

'기획'

In [24]:
s[3]

C:\Users\User\AppData\Local\Temp\ipykernel_22104\3172538273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3]

'기획'

In [25]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'])
s.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
s.index = list('abcde')

In [28]:
s

a    마케팅
b     경영
c     개발
d     기획
e     인사
dtype: object

In [29]:
s.values

array(['마케팅', '경영', '개발', '기획', '인사'], dtype=object)

In [30]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [31]:
s = pd.Series(['선화', '강호', np.nan, '소정', '우영'])
s

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

In [33]:
s.isnull()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [34]:
s.isna()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [35]:
s[s.isnull()]

2    NaN
dtype: object

In [36]:
s[s.isna()]

2    NaN
dtype: object

In [37]:
s.notnull()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [38]:
s.notna()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [39]:
s[s.notnull()]

0    선화
1    강호
3    소정
4    우영
dtype: object

In [40]:
s = pd.Series(np.arange(100, 150, 10))
s

0    100
1    110
2    120
3    130
4    140
dtype: int64

In [41]:
s[1:3]

1    110
2    120
dtype: int64

In [45]:
s.index = list('가나다라마')
s

가    100
나    110
다    120
라    130
마    140
dtype: int64

In [46]:
s['나':'라']

나    110
다    120
라    130
dtype: int64

In [48]:
arr = np.arange(3, 12, 2)
arr

array([ 3,  5,  7,  9, 11])

In [49]:
pd.Series(arr, dtype='float32')

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float32

In [50]:
pd.Series(['가','나','다','라','마'])

0    가
1    나
2    다
3    라
4    마
dtype: object

In [89]:
sample = pd.Series(np.arange(10,51,10), dtype='int64', index=['가','나','다','라','마'])
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [91]:
sample[['나','라']]

나    20
라    40
dtype: int64

In [92]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int32

In [93]:
sample2[sample2 < 160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

In [100]:
sample2[(sample2 >= 130) & (sample2 <= 170)]

11    134
13    140
dtype: int32

In [104]:
sample3 = pd.Series(['apple', np.nan, 'banana', 'kiwi', 'gubong'], index=['가','나','다','라','마'])
sample3

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [58]:
pd.DataFrame([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
pd.DataFrame([[1, 2, 3], 
              [4, 5, 6], 
              [7, 8, 9]], columns=['가', '나', '다'])

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
data = {
    'name': ['Kim', 'Lee', 'Park'], 
    'age': [24, 27, 34], 
    'children': [2, 1, 3]
}

In [63]:
df = pd.DataFrame(data)

In [64]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [65]:
df.columns

Index(['name', 'age', 'children'], dtype='object')

In [66]:
df.values

array([['Kim', 24, 2],
       ['Lee', 27, 1],
       ['Park', 34, 3]], dtype=object)

In [67]:
df.dtypes

name        object
age          int64
children     int64
dtype: object

In [68]:
df.T

            0    1     2
name      Kim  Lee  Park
age        24   27    34
children    2    1     3

In [69]:
df.index = list('abc')
df

   name  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

In [70]:
df['name']

a     Kim
b     Lee
c    Park
Name: name, dtype: object

In [71]:
type(df['name'])

pandas.core.series.Series

In [72]:
df[['name', 'children']]

   name  children
a   Kim         2
b   Lee         1
c  Park         3

In [77]:
df.rename(columns={'name': '이름'}, inplace=True)

In [78]:
df

     이름  age  children
a   Kim   24         2
b   Lee   27         1
c  Park   34         3

In [79]:
bg = {
    'food': ['KFC', 'McDonald', 'SchoolFood'], 
    'price': [1000, 2000, 2500], 
    'rating': [4.5, 3.9, 4.2]
}
pd.DataFrame(bg)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2

In [80]:
bg= pd.DataFrame(bg)

In [81]:
bg[['food','rating']]

         food  rating
0         KFC     4.5
1    McDonald     3.9
2  SchoolFood     4.2

In [86]:
bg.rename(columns={'food':'place'}, inplace=True)

In [87]:
bg

        place  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  SchoolFood   2500     4.2