In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('20251219-20251224.csv', encoding='cp949')
df

,거래일자,거래,거래시간,노선코드,노선명,정류장코드,정류장명,자동응답시스템ID(ARS_ID),승하차,거래건수,거래금액
0,2025-12-19,금,5,33,금남58,1061,운암도서관 ...,4455,승차,6,7500
1,2025-12-19,금,5,33,금남58,1381,태봉새마을금고 ...,4354,승차,1,1250
2,2025-12-19,금,5,33,금남58,25,경신여고 ...,4434,승차,3,3750
3,2025-12-19,금,5,33,금남58,25,경신여고 ...,4434,하차,1,0
4,2025-12-19,금,5,33,금남58,2847,운암시장 ...,4448,하차,4,0
...,...,...,...,...,...,...,...,...,...,...,...
857316,2025-12-24,수,23,65,첨단95,3773,송화마을3단지 ...,3263,하차,1,0
857317,2025-12-24,수,23,65,첨단95,436,롯데칠성 ...,4031,하차,1,0
857318,2025-12-24,수,23,65,첨단95,500,광주기아챔피언스필드 ...,4489,승차,2,1650
857319,2025-12-24,수,23,65,첨단95,500,광주기아챔피언스필드 ...,4489,하차,1,0
857320,2025-12-24,수,23,65,첨단95,960,양산호수공원 ...,4080,하차,1,0

In [3]:
df.describe()

                거래시간           노선코드           거래건수           거래금액
count  857321.000000  857321.000000  857321.000000  857321.000000
mean       13.893484      58.795592       3.172189    2013.128816
std         4.624977      51.150793       4.142845    4222.940891
min         3.000000       1.000000       1.000000       0.000000
25%        10.000000      16.000000       1.000000       0.000000
50%        14.000000      41.000000       2.000000       0.000000
75%        18.000000      96.000000       4.000000    2500.000000
max        23.000000     213.000000     153.000000  155020.000000

In [6]:
df['거래건수'].mean()

np.float64(3.1721887134457223)

In [5]:
df.columns = df.columns.str.strip()
df.columns

Index(['거래일자', '거래', '거래시간', '노선코드', '노선명', '정류장코드', '정류장명',
       '자동응답시스템ID(ARS_ID)', '승하차', '거래건수', '거래금액'],
      dtype='object')

In [12]:
df[df['노선명']=='금남58']

,거래일자,거래,거래시간,노선코드,노선명,정류장코드,정류장명,자동응답시스템ID(ARS_ID),승하차,거래건수,거래금액
0,2025-12-19,금,5,33,금남58,1061,운암도서관,4455,승차,6,7500
1,2025-12-19,금,5,33,금남58,1381,태봉새마을금고,4354,승차,1,1250
2,2025-12-19,금,5,33,금남58,25,경신여고,4434,승차,3,3750
3,2025-12-19,금,5,33,금남58,25,경신여고,4434,하차,1,0
4,2025-12-19,금,5,33,금남58,2847,운암시장,4448,하차,4,0
...,...,...,...,...,...,...,...,...,...,...,...
851223,2025-12-24,수,22,33,금남58,874,신안동행정복지센터,4340,하차,1,0
851224,2025-12-24,수,22,33,금남58,91,광주역,4334,승차,1,1250
851225,2025-12-24,수,22,33,금남58,977,예술의거리입구,1127,승차,3,3750
856440,2025-12-24,수,23,33,금남58,1060,운암도서관,4432,하차,1,0
856441,2025-12-24,수,23,33,금남58,1382,태봉새마을금고,4355,승차,1,1250

In [6]:
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

Object `x.strip` not found.

In [13]:
df.loc[:6,['노선코드','노선명','정류장명']]

   노선코드   노선명     정류장명
0    33  금남58    운암도서관
1    33  금남58  태봉새마을금고
2    33  금남58     경신여고
3    33  금남58     경신여고
4    33  금남58     운암시장
5    33  금남58     운암초교
6    33  금남58     운암초교

In [14]:
df = df.drop(columns=['자동응답시스템ID(ARS_ID)'])

In [15]:
df

              거래일자 거래  거래시간  노선코드   노선명 정류장코드        정류장명 승하차  거래건수  거래금액
0       2025-12-19  금     5    33  금남58  1061       운암도서관  승차     6  7500
1       2025-12-19  금     5    33  금남58  1381     태봉새마을금고  승차     1  1250
2       2025-12-19  금     5    33  금남58    25        경신여고  승차     3  3750
3       2025-12-19  금     5    33  금남58    25        경신여고  하차     1     0
4       2025-12-19  금     5    33  금남58  2847        운암시장  하차     4     0
...            ... ..   ...   ...   ...   ...         ...  ..   ...   ...
857316  2025-12-24  수    23    65  첨단95  3773     송화마을3단지  하차     1     0
857317  2025-12-24  수    23    65  첨단95   436        롯데칠성  하차     1     0
857318  2025-12-24  수    23    65  첨단95   500  광주기아챔피언스필드  승차     2  1650
857319  2025-12-24  수    23    65  첨단95   500  광주기아챔피언스필드  하차     1     0
857320  2025-12-24  수    23    65  첨단95   960      양산호수공원  하차     1     0

[857321 rows x 10 columns]